body {
  background-color: #eb5e65;
  font-family: "futura";
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  padding: 10px 20px;
}

p {
  font-size: 20px;
  font-family: "avenir";
}

a {
  text-decoration: none;
  color: white;
}

input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 20px -40px 20px;
  height: 40px;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  font-size: 40px;
  flex-direction: row;
  align-items: center;
  /* flex-flow: row; */
  flex: 1;
  padding-top: 20px;
}

.habbitText {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-self: center;
  padding-left: 10px;
}

.main-container h3 {
  margin-top: -50px;
  font-size: 30px;
}

.homescreen {
  width: 100%;
  height: auto;
}

.appstore {
  margin-top: 40px;
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.playstore {
  margin-top: 40px;
  width: 200px;
  height: auto;
}

.habbitIcon {
  display: flex;
  width: auto;
  height: 30px;
}

.links {
  padding-left: 10px;
}

#mc_embed_signup {
  margin-top: 40px;
  /* text-align: center; */
  font-size: 14px;
  width: 100%;
  font-family: "avenir";
}

.left {
  max-width: 50%;
  padding-bottom: 60px;
}

.right {
  margin-top: 60px;
  max-width: 45%;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .left {
    padding-bottom: 0px;
    padding-top: 60px;
    max-width: 80%;
  }

  .right {
    padding-top: 0px;
    max-width: 70%;
  }
}
