body {
  background-color: #eb5e65;
  font-family: "futura";
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 20px -40px 20px;
  height: 40px;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  font-size: 40px;
  flex-flow: row;
  flex: 1;
}

.habbitText {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-self: center;
  padding-left: 10px;
}

.main-container h3 {
  margin-top: -50px;
  font-size: 30px;
}

.left {
  margin-top: 70px;
  flex: 1;
}

p {
  font-size: 20px;
  font-family: "avenir";
}

.right {
  flex: 1;
}

.homescreen {
  width: 100%;
  height: auto;
}

.appstore {
  margin-top: 40px;
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.playstore {
  margin-top: 40px;
  width: 200px;
  height: auto;
}

.habbitIcon {
  display: flex;
  width: auto;
  height: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  padding: 10px 20px;
}

.links {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

#mc_embed_signup {
  margin-top: 40px;
  /* text-align: center; */
  font-size: 14px;
  width: 100%;
  font-family: "avenir";
}

input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

/* .imgWrapper {
  margin-top: 10px;
  text-align: center;
} */
